<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bitwa!</title>
<style>
	div{
		margin: 0px;
		padding: 0px;
		border-spacing: 0px;
	}
	img{
		margin: 0px;
		padding: 0px;
		height: 30px;
		width: 30px;
		border-spacing: 0px;
		vertical-align: bottom;
	}
	td{
		text-align: center;
		margin: 0px;
		padding: 0px;
		height: 30px;
		max-height: 30px;
		width: 30px;
		border-spacing: 0px;
	}
	#response {
		width: 500px;
		height: 100px;
		overflow-y: scroll;
		overflow-x: auto;
	}
	.battlefield {
		display: inline-block;
		border: solid black 1px;
		background-color: navy;
		color: white;
	}
	.field {
		text-align: center;
		width: 100%;
		height: 100%;
		padding: 0px;
		margin: 0px;
		background-color: white;
		border-spacing: 0px;
	}
	#myMap{
		display: inline-block;
	}
	#enemyMap{
		display: inline-block;
	}
	button {
		cursor: pointer;
	}
</style>
</head>
<body >
        <div id="conteiner">
        <div id="myMap" class="battlefield">
        	<p>plansza</p>
        </div>
        <div id="enemyMap" class="battlefield">
        	<p>plansza</p>
        </div>
        <p id="information"></p>
            <br />
            
            <br />
            
            <div id="conversationDiv">
            	
            	<p>Globalny czat</p>
                <div id="chat">
                <p id="response"></p>
                <input style="min-width:250px" type="text" id="text" placeholder="Napisz coś do innych graczy..."/>
                <button id="sendMessage" onclick="sendMessage();">Send</button>
                </div>
                
                
            </div>
        </div>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
		<script src="/webjars/stomp-websocket/stomp.min.js"></script>
        <script th:inline="javascript">
        /*<![CDATA[*/
        var stompClient = null;
        
        var stompClientForShots = null;
        
        var gameName = [[${session.gameName}]];
        var playerName = [[${session.name}]];

        var socket = new SockJS('/chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
        	console.log('Connected: ' + frame);
        	stompClient.subscribe('/topic', function(messageOutput) {
        		showMessageOutput(JSON.parse(messageOutput.body));
        	});
        });
        
        var socketShots = new SockJS('/shot');
        stompClientForShots = Stomp.over(socketShots);
        stompClientForShots.connect({}, function(frame) {
        	console.log('Connected: ' + frame);
        	stompClientForShots.subscribe('/shots', function(messageOutput) {
        		showShotOutput(JSON.parse(messageOutput.body));
        	});
        });


        function sendMessage() {
        	var text = document.getElementById('text').value;
        	stompClient.send("/app/chat", {}, JSON.stringify({
        		'message' : text,
        		'fromPlayer' : playerName,
        		'gameName': gameName
        	}));
        	
        	
        }
        
        function sendShot(target) {
        	var text = target;
        	stompClientForShots.send("/app/shot", {}, JSON.stringify({
        		'message' : text,
        		'fromPlayer' : playerName,
        		'gameName': gameName
        	}));
        	
        	
        }

        function showMessageOutput(messageOutput) {
        	var response = document.getElementById('response');
        	console.log(messageOutput.fromPlayer + ": "
        			+ messageOutput.message);
        	var p = document.createElement('p');
        	p.appendChild(document.createTextNode(messageOutput.fromPlayer + ": "
        			+ messageOutput.message));
        	response.appendChild(p);
        	document.getElementById('response').scrollTop=1e6;
        	document.getElementById('text').value = "";
        }
        
        function showShotOutput(messageOutput) {
        	var player = messageOutput.fromPlayer;
        	var game = messageOutput.gameName;
        	var text = messageOutput.message;
        	var arr = text.split(" ");
        	console.log(arr);
        	if(game==gameName){
        		if(player==playerName){
                	if(arr[0]=="Przeciwnik"){
                		document.getElementById("information").innerHTML="Przeciwnik jeszcze nie dołączył do gry.";
                	}else if(arr[1]=="hit"){
                		if(arr.length==3){
                			document.getElementById("information").innerHTML="Trafiłeś i zatopiłeś statek!";
                		}else{
                			document.getElementById("information").innerHTML="Trafiłeś, ale statek nadal płynie.";
                		}
                	}else if(arr[1]=="mishit"){
                		document.getElementById("information").innerHTML="Pudło.";
                	}else if(arr[1]=="error"){
                		document.getElementById("information").innerHTML="W to miejsce już było strzelane.";
                	}
            	}else{
                	if(arr[1]=="hit"){
                		if(arr.length==3){
                			document.getElementById("information").innerHTML="Przeciwnik trafił i zatopił Twój statek!";
                		}else{
                			document.getElementById("information").innerHTML="Przeciwnik trafił Twój statek.";
                		}
                	}else if(arr[1]=="mishit"){
                		document.getElementById("information").innerHTML="Przeciwnik spudłował.";
                	}else if(arr[1]=="error"){
                		document.getElementById("information").innerHTML="Przeciwnik strzela w miejsce gdzie już strzelał.";
                	}
            	}
        	}
        	
        	
        	console.log(messageOutput.fromPlayer + " shots: "
        			+ messageOutput.message);
        	
        }
  
        function buildMyMap(){
        	
        	var generate = "<table><tr><td></td><td>A</td><td>B</td><td>C</td><td>D</td><td>E</td><td>F</td><td>G</td><td>H</td><td>I</td><td>J</td>";
            
            var numOfRow = 1;
            
            var letters = "ABCDEFGHIJ";
            
            var letter;
            
            var i;
            
            var nextNumberOfField
            for (var j=1;j<11;j++){
            	
            	nextNumberOfField = j;
            	
            	for (i=0;i<12;i++){
            		
            		letter = letters.charAt(i-2);
                	
                	if(i==0){
                		generate += "</tr><tr>";
                	} else if(i==1){
                		generate += "<td>"+numOfRow+"</td>";
                		
                	} else {
                		generate += "<td><button value=\""+letter+nextNumberOfField+"\" class=\"field\" id=\"Y"+letter+nextNumberOfField+"\" onclick=\"sendShot('"+letter+nextNumberOfField+"');\"></button></td>";
                	}
                	
                }
            	numOfRow++;
            }
            generate+="</tr></table>";
            
            document.getElementById("myMap").innerHTML=generate;
        }
        
		function buildEnemyMap(){
        	
        	var generate = "<table><tr><td></td><td>A</td><td>B</td><td>C</td><td>D</td><td>E</td><td>F</td><td>G</td><td>H</td><td>I</td><td>J</td>";
            
            var numOfRow = 1;
            
            var letters = "ABCDEFGHIJ";
            
            var letter;
            
            var i;
            
            var nextNumberOfField
            for (var j=1;j<11;j++){
            	
            	nextNumberOfField = j;
            	
            	for (i=0;i<12;i++){
            		
            		letter = letters.charAt(i-2);
                	
                	if(i==0){
                		generate += "</tr><tr>";
                	} else if(i==1){
                		generate += "<td>"+numOfRow+"</td>";
                		
                	} else {
                		generate += "<td><div class=\"field\" id=\"M"+letter+nextNumberOfField+"\"></div></td>";
                	}
                	
                }
            	numOfRow++;
            }
            generate+="</tr></table>";
            
            document.getElementById("enemyMap").innerHTML=generate;
        }
		
		var obj = /*[[${session.ships}]]*/;
		
		function putMyShips(){
			
			for(var i=0;i<obj.length;i++){
				console.log(obj[i].location);
				document.getElementById("M"+obj[i].location).innerHTML="<img src=\"/statek3.jpg\" alt=\"X\" />";
			}
			
		}
        
        buildMyMap();
   
        buildEnemyMap();
        
        putMyShips();
        /*]]>*/
        </script>
</body>
</html>